:root {
    --color-body1: #280969;
    --color-text-main: #FFFFFF;
    --color-text-main2: #000000;
    --color-text-active: #280969;
    --color-text-active2: #4D17C1;
    --color-bg-progressbar: rgba(255,255,255,.5);
    --color-bg-menu: #170838;
    --color-bg-btn: linear-gradient(116.69deg, #4F16C8 -3.4%, #9F17C1 66.73%);
    --color-shadow-btn: 0px 6px 8px rgba(160, 23, 194, 0.3);
    --color-border-gost: rgba(0,0,0,.5);
    --color-border: #171717;
    --color-text-error: rgba(245, 63, 54, 1);
}